#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.metadata/
rappla/bin/
rappla/gen/
rappla/.settings/
Testing/test_servers/0caea805e26565a19f50de8f9b374fce_0.4.21.apk
*.apk