<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.rappla"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="app.rappla.StaticContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:vmSafeMode="false" >
        <activity
            android:name="app.rappla.activities.RapplaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Rappla"
            android:launchMode="singleInstance">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.rappla.activities.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="app.rappla.activities.EventActivity"
            android:configChanges="orientation"
            android:label="Event"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        <activity
            android:name="app.rappla.activities.AlarmPopupDialog"
            android:label="Alarm"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <!--
        <receiver android:name=".RapplaBackgroundUpdateService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action>
                <category android:name="android.intent.category.HOME">
                </category>
            </intent-filter>
        </receiver>
        -->
        <service android:name=".RaplaBackgroundService">
            <intent-filter>
                <action android:name="app.rappla.activities.RapplaActivity"></action>
            </intent-filter>
        </service>

        <receiver
            android:name="RapplaWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:widgetCategory="home_screen" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rapplawidget_info" />
        </receiver>
    </application>

</manifest>