<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.rappla"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:vmSafeMode="false"  
		android:name=".StaticContext">
        
        <activity
            android:name="app.rappla.activities.RapplaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Rappla" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="app.rappla.activities.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name="app.rappla.activities.EventActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Event" >
        </activity>
    	<activity 
    	    android:name="app.rappla.activities.AlarmPopupDialog"
    	    android:label="Alarm"
    	    android:theme="@android:style/Theme.Dialog"
    	    android:launchMode="singleInstance"
    	    >
    	    
    	</activity>
    </application>
</manifest>
